#clients_tab_pane .tab-header-area .tab-selected-line {
    -fx-background-color:  #133067;
}

#clients_tab_pane .tab-header-background {
    -fx-background-color: #00B4FF;
}

#clients_tab_pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #133067e0;
}

#clients_tab_pane .tab .tab-label {
    -fx-text-fill: #133067;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 14;

}
/* #00B4FF */